:root{
   --cinza-principal: #000000;
   --rosa-secundario: #fd1589;
   --botão-lilas: #f096d2;
   --cor-de-fundo: #F2E3E6; 
   --fonte-principal:'inter';
   --botao-azul-efeito:var(--rosa-secundario)
 }

 body {
   background-color: var(--cor-de-fundo);
   color: var(--cinza-principal);
   font-family: var(--fonte-principal);
   font-size: 16px;
   font-weight: 400;
 }
 
 ° {
   margin:0;
   padding:0;
 };

.principal { 
   background-image: url("WhatsApp\ Image\ 2024-06-17\ at\ 09.13.14.jpegs");
   background-repeat: no-repeat;
   background-size: contain;
   align-items: center;
   text-align: center;
 }

 .container {
   height: 100vh;
   display: grid;
   grid-template-columns: 20% 20%;
 }

.container_botao {
   background-color: var(--rosa-secundario);
   border-radius: 5px;
   padding: 1em;
   color: var(--cinza-principal);
   display: block;
   text-decoration: none;
   margin-bottom: 1em;
}

.botao_secundario {
   background-color: transparent;
   border: 2px solid var(--cinza-principal)
}
 
.container_aivso {
  font-size: 12px;
  color:var(--rosa-secundario);
} ;

.container_titulo {
  font-size: 28px;
  font-weight: 700;


}text-decoration: none;
color:var(--cinza-principal);
margin-left: 1em;

.container_imagem {
margin: 1em 0 2em 0;
}

.container_caixa {
width: 80;
}

.secundario_imagem{
width: 80;
}

.secundario {
  align-items: center;text-decoration: none;
  color:var(--cinza-principal);
  margin-left: 1em;

  margin: 5em 0;
}

.dispoisitivos {
  text-align: center;
}

.dispoisitivos_titulo {
  font-size: 48px;
  color: var(--cinza-principal);
}

.lista_item {
  font-size: 32px;
  color:ar(--cinza-principal);
  margin-top: 1em;
}

.lista_link a{
  text-decoration: none;
  color: var(--cinza-principal);
  margin-top: 1em;
}

.rodape_texto {
  margin: 1em 0;
  color: var(--rosa-secundario);
  font-size: 14px;
}

.lista_link a:hover {
  color: var(--botão-lilas);
}

.lista_link a:active {
  color: #E1A9E9;
}

.container_botao:hover {
  background-color: var(--botão-lilas);
  color:var(--cor-de-fundo)
}